# Temp files
*~
*.bak
*.backup
\#*
.\#*

# OS specific useless files
Thumbs.db
.DS_Store
__MACOSX/

# Others
.gradle
/local.properties
/build
app/manifest-merger-release-report.txt
app/*.apk
*.class
.idea
